
.сell-item {
    width: 15px;
    height: 15px;
    font-size: 5px;
    background-color: #EDEDED;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
}

.pop-up-window {
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    z-index: 1000;
}

.сell-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.сell-item.selected {
    background-color: #527BA0;
    border: 1px solid rgba(0, 0, 0, 0.90);
}

.no-contributions {
    background-color: #EDEDED;
}

.one-to-nine-contributions {
    background-color: #ACD5F2 !important;
}

.ten-to-nineteen-contributions {
    background-color: #7FA8C9 !important;
}

.twenty-to-twenty-nine-contributions {
    background-color: #527BA0 !important;
}

.thirty-plus-contributions {
    background-color: #254E77 !important;
}