.сell-item {
    width: 15px;
    height: 15px;
    font-size: 5px;
    background-color: #EDEDED;
    border: 1px solid rgba(0, 0, 0, 0);
}

.сell-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.сell-item.selected {
    background-color: #527BA0;
    border: 1px solid rgba(0, 0, 0, 0.90);
}

.no-contributions {
    background-color: #EDEDED;
}

.one-to-nine-contributions {
    background-color: #ACD5F2;
}

.ten-to-nineteen-contributions {
    background-color: #7FA8C9;
}

.twenty-to-twenty-nine-contributions {
    background-color: #527BA0;
}

.thirty-plus-contributions {
    background-color: #254E77;
}